<body>

  <div class="row">

    <div class="large-4 medium-4 columns">
      <div class="small-6 large-centered columns">
        <div class="row">
          <i class="fi-torso"></i>
        </div>
        <div class="row">
          <label id="username">Username: <%=@user_info.user_name%> </label>
        </div>
        <div class="row">
          <label id="wins">Wins: <%=@user_info.matches_won%> </label>
        </div>
        <div class="row">
          <label id="losses">Losses: <%=@user_info.matches_lost%> </label>
        </div>
      </div>
    </div>
<form method="post" action="/dashboard">
    <div class="large-8 medium-8 columns" id="games-list">
      <div class="row">
        <div class="small-10 large-centered columns">

          <h4>All Matches</h4>
          <div class="panel">
            <select name="select">
              <% @all_matches.each { |match| %>
                <option value=<%=match.display_opponent%>><%= "#{match.match_id}  #{match.display_opponent} #{match.game_status}"%> </option> 
               <%} %>
            </select>
          </div>

        </div>
      </div>

      <div class="small-3 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button">View Game</a></li>
          </ul>
        </div>
      </div>
</form>
      <div class="row">
        <div class="small-10 large-centered columns">
          <h4>Pick an opponent</h4>
          <div class="panel">
            <select name="select">
              <% @eligible_opponents.each { |user| %>
                <option value=<%=user.user_name%>><%=user.user_name%> </option> 
               <%} %>
            </select>
          </div>
        </div>
      </div>

      <div class="small-3 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button success">New Game</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</body>
